@import url('https://fonts.googleapis.com/css2?family=Hind&family=Overpass:ital,wght@1,600&family=Prompt&family=Roboto+Slab:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');



body{
    font-family: "Prompt";
    background-color: white;
}

.pict{
    height: 400px;
    width: 100%;
}


.logo{
    color: white;
    margin-right: 20px;
    margin-left: 20px;
    
}

.logo img{
    width: 70px;
    height: 70px;
}

.main-font{
    font-family: "Prompt";
    color: white;
}



header nav {
    background-color: white;
    z-index: 5;
    position: fixed;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.header-links a{
    font-size: 0.9em;
    text-decoration: none;
    color: orchid;
}

.container-fluid{
    background-color: white;
}

.navbar-nav .nav-link{
    font-size: 1.2em;
}

.instagram-icon{
    size: 9px;
}

.position-top{
    position: absolute;
    top: 50%;
}

.teks{
    position: relative;
    left: 100px;
    top: 30px;
    width: 600px;
    height: 100px;
    font-family: "Prompt";
}

.text2{
    margin: 50%;
}

.site-slider{
    position: relative;
    margin-left: 0rem;
    margin-right: 0rem;
}

.site-slider .slider-btn .prev,
.site-slider .slider-btn .next{
    background-color: green;
    padding: 1rem 1.5rem;
    border-radius: 10rem;
    color: white;
    margin: 0 1rem;
    opacity: 0;
    transition: opacity 1s ease
}

.site-slider:hover .slider-btn .prev,
.site-slider:hover .slider-btn .next{
    opacity: 1;
}

.right-0{
    right: 0;
}

.slick-dots{
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
    list-style-type: none;
    position: absolute;
    bottom: 0;
    right: 50%;
}

.slick-dots li{
    margin: 0 0.6rem;
}

.slick-dots button{
    display: block;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0;
    border: none;
    background-color: white;
    text-indent: -99999px;
    border-radius: 100%;
}

.slick-dots li.slick-active button{
    transform: scale(1.5);
    box-shadow: 0px 3px 5px 1px;
}

#map{
    height: 250px;
    width: 400px;
    left: 900px;
    bottom: 80px
}

